/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #1c1c1c;
    color: #8bc34a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto; /* Changed from hidden to auto */
}

.container {
    background-color: #111;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-height: 80vh; /* Added max-height to limit the container height */
    overflow-y: auto; /* Added overflow-y to make the container scrollable */
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 3rem;
    color: #8bc34a;
    text-shadow: 0 0 1rem #8bc34a;
    margin-bottom: 0.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

header p {
    font-size: 1.2rem;
    color: #bdbdbd;
}

#info, #protection {
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #8bc34a;
}

h2 {
    color: #8bc34a;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 0.5rem #8bc34a;
}

#info p, #protection li {
    margin: 0.8rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #bdbdbd;
}

#info p strong, #protection h2 {
    color: #8bc34a;
    font-weight: 700;
}

#info p span, #protection li {
    color: #bdbdbd;
}

#protection ul {
    list-style: none;
    padding-left: 1.2rem;
}

#protection ul li {
    position: relative;
    padding-left: 1.8rem;
    margin: 0.8rem 0;
}

#protection ul li::before {
    content: '»';
    color: #8bc34a;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    top: -2px;
    text-shadow: 0 0 0.5rem #8bc34a;
}

#protection ul li:hover {
    color: #8bc34a;
    transform: translateX(5px);
    transition: color 0.3s ease, transform 0.3s ease;
    text-shadow: 0 0 1rem #8bc34a;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #bdbdbd;
    margin-top: 1.5rem;
}

footer a {
    color: #8bc34a;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 0 0 0.5rem #8bc34a;
}

footer a:hover {
    text-decoration: underline;
    text-shadow: 0 0 1rem #8bc34a;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.1rem;
    }
}